#list-paper {
    margin: 20px;
    padding: 15px 15px 15px 25px;
}

#list-paper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    #list-paper {
        min-width: 90%;
    }
}

@media screen and (min-width: 600px) {
    #list-paper {
        min-width: 60%;
    }
}

@media screen and (min-width: 1280px) {
    #list-paper {
        min-width: 40%;
    }
}
